In [1]:
import pandas as pd
from scipy.stats import norm
from datetime import date
import math
import numpy as np

In [2]:
rahbek_data = pd.read_csv("Daten/Option_prices_2018_1.csv", sep=';')

In [3]:
rahbek_data

,Quote date,Expiration date,C,K,S,r,T,Days to Mature
0,01.03.2016,18.03.2016,328.30,1650,1978.35,0.0033,0.046600,17
1,01.03.2016,18.03.2016,130.90,1850,1978.35,0.0033,0.046600,17
2,01.03.2016,18.03.2016,112.20,1870,1978.35,0.0033,0.046600,17
3,01.03.2016,18.03.2016,85.50,1900,1978.35,0.0033,0.046600,17
4,01.03.2016,18.03.2016,68.40,1920,1978.35,0.0033,0.046600,17
...,...,...,...,...,...,...,...,...
26432,01.03.2018,20.12.2019,171.55,2850,2677.67,0.0160,1.805479,659
26433,01.03.2018,20.12.2019,148.35,2900,2677.67,0.0160,1.805479,659
26434,01.03.2018,20.12.2019,127.00,2950,2677.67,0.0160,1.805479,659
26435,01.03.2018,18.12.2020,332.60,2700,2677.67,0.0160,2.802740,1023
26436,01.03.2018,18.12.2020,319.10,2725,2677.67,0.0160,2.802740,1023

In [4]:
def d1(S, K, sigma, t, r):
    nominator = np.log(S/K) + (r + (sigma**2)/2)*t
    denominator = sigma* t**0.5
    return nominator/denominator
def d2(S, K, sigma, t, r):
    return d1(S, K, sigma, t, r) - sigma*t**0.5
def BS(S, K, sigma, t, r):
    return S * norm.cdf(d1(S, K, sigma, t, r)) - K * math.e**(r*t) * norm.cdf(d2(S, K, sigma, t, r))

In [5]:
my_sigma = 0.0061

In [6]:
npdata = rahbek_data.iloc[:,3:-1].values

In [7]:
BS_list = []
for i in range(npdata.shape[0]):
    BS_list.append( BS(S = rahbek_data["S"][i], K = rahbek_data["K"][i], sigma = my_sigma, t = rahbek_data["T"][i], r = rahbek_data["r"][i]) )

In [8]:
#BS_list

In [9]:
BS(S = rahbek_data["S"][0], K = rahbek_data["K"][0], sigma = my_sigma, t = rahbek_data["T"][0], r = rahbek_data["r"][0])

328.0962434891619

In [17]:
BS(S = 1990.2, K = 1950, sigma = 0.0061, t = 21, r = 0.003/251)
#0.000145
#0.0061

47.30039554452992

In [10]:
d1(S = rahbek_data["S"][0], K = rahbek_data["K"][0], sigma = my_sigma, t = rahbek_data["T"][0], r = rahbek_data["r"][0])

137.94143267983068

In [11]:
d2(S = rahbek_data["S"][0], K = rahbek_data["K"][0], sigma = my_sigma, t = rahbek_data["T"][0], r = rahbek_data["r"][0])

137.94011587080885

In [12]:
S = rahbek_data["S"][0]
K = rahbek_data["S"][0]

In [13]:
S * norm.pdf(d1(S, K, sigma, t, r)) - K * math.e**(r*t) * norm.pdf(d2(S, K, sigma, t, r))

NameError: name 'sigma' is not defined